<section class="breadcrumb_bg">
   <h2>명지대학교 교수평가</h2>
   <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">About Layout 1</li>
   </ol>
</section>

<section class="team big_block">
   <div class="container">
      <h2 class="text-center">명지대학교 <strong>교수평가</strong></h2>
      <div class="row">
         <% @prof_list.each do |prof| %>
         <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div>
               <div class="team-social">
                  <ul>
                     <li><a href="home/<%=prof.id%>/like"><i class="fa fa-facebook">좋아요</i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
               </div>
               <img src = <%= prof.imgUrl %> class:'img-responsive' class="size">
            </div>
            
            <div class="details">
               <h3>이 름 : <%= prof.name %></h3>
               <h4>학 과 : <%= prof.dept %></h4>
               <h4>좋아요 : <%= prof.like %></h4>
            </div>
         </div>
         <%end%>
      </div>
   </div>
</section>