<section class="breadcrumb_bg">
   <a href="/"><h2>명지대학교 교수님 인기투표</h2></a>
   <!--<ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">About Layout 1</li>
   </ol>-->
   <form class="form-inline" method="get" action="search">
     <div class="form-group">
       <label class="sr-only" for="exampleInputEmail3">Email address</label>
       <input type="text" name = "keyword" class="form-control" id="exampleInputEmail3" placeholder="검색">
     </div>
      <button type="submit" class="btn btn-default">검색</button>
   </form>
</section>

<section class="team big_block">
   <div class="container">
      <h2 class="text-center">명지대학교에서 가장 인기있는 교수님은 누굴까요? 원하는 교수님의 좋아요를 <strong>클릭, 클릭!</strong> </h2>
      <div class="row">
         <% @prof_list.each do |prof| %>
         <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div>
               <div class="team-social">
                  <ul>
                     <li>
                        <a href="home/<%=prof.id%>/like">
                           <%= image_tag 'like.png' %>좋아요</a></li>
                     <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                  </ul>
               </div>
               <img src = <%= prof.imgUrl %> class:'img-responsive' class="size">
            </div>

            <div class="details">
               <h3><%= prof.name %> 교수님</h3>
               <h4><%= prof.dept %> </h4>
               <h4><%= prof.like %>개의 좋아요</h4>
            </div>
         </div>
         <%end%>
      </div>
   </div>
</section>
